{% extends 'mainTemplate' %}

{# Remove the Jumbotron block from the page #}
{% block jumbotron %}{% endblock %}

{% block content %}
    <h2>About Our Organiztion</h2>
    <p>blah blah blah blah blah blah </p>
{% endblock %}


