<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <script language="javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    {% block header %}{% endblock %}
</head>
<body>

    {% block content %}{% endblock %}

    {% block scripts %}{% endblock %}

</body>
</html>