<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="assets/css/core.css" />
        {% block header %}{% endblock %}
    </head>
    <body>
        <div id="outerWrappr">
            <div id="innerWrapper">
                <div id="header">

                </div>
                <div id="body">

                    {% block content %}{% endblock %}

                </div>
                <div id="footer">
                    {% block footer %}
                        &copy; 2014 Me and Stuff
                    {% endblock %}
                </div>
            </div>
        </div>
        {% block scripts %}{% endblock %}
    </body>
</html>